IMPORTS

In [ ]:
import numpy as np
import pandas as pd

QUESTION-1

In [ ]:
df=[np.random.rand(4),np.random.rand(4),np.random.rand(4),np.random.rand(4)]
t=pd.DataFrame(df)
print(t)

          0         1         2         3
0  0.669505  0.574859  0.011134  0.998262
1  0.946860  0.941424  0.825261  0.847773
2  0.283125  0.344951  0.694865  0.636593
3  0.693923  0.802290  0.235064  0.573794

QUESTION -2

In [ ]:
t.rename(columns=
 {0 :"Random value 1",1:"Random value 2",2:"Random value 3",3:"Random value 4"}
,inplace=True)
print(t)

   Random value 1   Random value 2  Random value 3  Random value 4
0         0.669505        0.574859        0.011134        0.998262
1         0.946860        0.941424        0.825261        0.847773
2         0.283125        0.344951        0.694865        0.636593
3         0.693923        0.802290        0.235064        0.573794

QUESTION-3

In [ ]:
t.describe(include="all")

       Random value 1   Random value 2  Random value 3  Random value 4
count         4.000000        4.000000        4.000000        4.000000
mean          0.648353        0.665881        0.441581        0.764106
std           0.273874        0.261924        0.382665        0.195199
min           0.283125        0.344951        0.011134        0.573794
25%           0.572910        0.517382        0.179082        0.620893
50%           0.681714        0.688574        0.464965        0.742183
75%           0.757157        0.837073        0.727464        0.885395
max           0.946860        0.941424        0.825261        0.998262

QUESTION-4

In [ ]:
k=t.isnull()
print(k)
i=t.isnull().sum()
print(i)

   Random value 1   Random value 2  Random value 3  Random value 4
0            False           False           False           False
1            False           False           False           False
2            False           False           False           False
3            False           False           False           False
Random value 1     0
Random value 2     0
Random value 3     0
Random value 4     0
dtype: int64

In [ ]:
print(t['Random value 1'].dtype)
print(t['Random value 2'].dtype)
print(t['Random value 3'].dtype)
print(t['Random value 4'].dtype)

float64
float64
float64
float64

QUESTION-5

In [ ]:
t.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.574859        0.011134
1        0.941424        0.825261
2        0.344951        0.694865
3        0.802290        0.235064

In [ ]:
t.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.574859        0.011134
1        0.941424        0.825261
2        0.344951        0.694865
3        0.802290        0.235064